/*Animation bouton explore du menu principal*/
.reservation__explore {
  transform: scale(1);
  transition: transform 400ms;
}
.reservation__explore:hover {
  transform: scale(1.15);
}

/*Animation coeur menu principal et menu restaurant*/
@keyframes fadeinc {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*Animation menu restaurant -selection d'un plat */
.carte__type__contenu:hover {
  cursor: pointer;
}
.carte__type__contenu:hover .carte__type__menu .carte__type__plats h3 {
  width: 210px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.carte__type__contenu:hover .carte__type__menu .carte__type__plats h4 {
  width: 210px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.carte__type__contenu:hover .carte__type__menu .carte__type__prix {
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 5px;
}
.carte__type__contenu:hover .carte__type__validation {
  margin-right: 0px;
  width: 70px;
  transition: margin-right 0.5s;
}
.carte__type__contenu:hover .carte__type__validation .cercle .fas {
  animation-name: spin;
  animation-duration: 500ms;
  animation-timing-function: linear;
}

/*Rotation cercle de validation*/
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*Animation menu restaurant -Apparition progressive */
@keyframes fadein {
  0% {
    opacity: 0;
    transform: translateY(5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.delay-1 {
  animation-duration: 250ms;
  animation-timing-function: linear;
  animation-delay: 0.2s;
  animation-direction: normal;
  animation-name: fadein;
}

.delay-2 {
  animation-duration: 250ms;
  animation-timing-function: linear;
  animation-delay: 0.4s;
  animation-direction: normal;
  animation-name: fadein;
}

.delay-3 {
  animation-duration: 250ms;
  animation-timing-function: linear;
  animation-delay: 0.6s;
  animation-direction: normal;
  animation-name: fadein;
}

.delay-4 {
  animation-duration: 250ms;
  animation-timing-function: linear;
  animation-delay: 0.8s;
  animation-direction: normal;
  animation-name: fadein;
}

.delay-5 {
  animation-duration: 250ms;
  animation-timing-function: linear;
  animation-delay: 1s;
  animation-direction: normal;
  animation-name: fadein;
}

.delay-6 {
  animation-duration: 250ms;
  animation-timing-function: linear;
  animation-delay: 1.2s;
  animation-direction: normal;
  animation-name: fadein;
}

.delay-7 {
  animation-duration: 250ms;
  animation-timing-function: linear;
  animation-delay: 1.4s;
  animation-direction: normal;
  animation-name: fadein;
}

.delay-8 {
  animation-duration: 250ms;
  animation-timing-function: linear;
  animation-delay: 1.6s;
  animation-direction: normal;
  animation-name: fadein;
}

.delay-9 {
  animation-duration: 250ms;
  animation-timing-function: linear;
  animation-delay: 1.8s;
  animation-direction: normal;
  animation-name: fadein;
}

.delay-10 {
  animation-duration: 250ms;
  animation-timing-function: linear;
  animation-delay: 2s;
  animation-direction: normal;
  animation-name: fadein;
}

/*# sourceMappingURL=styles.css.map */
