/* Style menu des quatres  restaurants */  
/* Couleurs : Primaire : #9356DC  Secondaire :#FF79DA Tertiaire : #99E2D0 */  

body{
  margin :0;
  padding :0;
  font-family: 'Roboto', 'Shrikhand';
}

/* Heade r*/
.header{   
  font-family: 'Shrikhand';
  display: block;
  text-align: center; 
  margin-bottom: 20px;
 }
  
 header .logo{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .logo img{
  width: 180px;
  height: 30px;
  margin-top: 20px;
  margin-bottom: 10px;
}

header a{
  text-decoration: none;
  color: black;
  cursor: pointer;
}

header .fas{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 40px;
  top :22px;
  font-size: 25px;
  color: #000;
}

.main_Container{
  width: 100%; 
  margin: 0;
}

.restaurant__image img {
  width:100%;
  height:250px;
  object-fit: cover;
}

#cartes{
  position: relative;
  margin-top : -30px;
  padding: 20px 10px;
  background-color: #fafafa;
  border-radius: 30px 30px 0px 0px;
}

.cartes__titre {
  margin: 20px 10px 0px 20px;
  display: flex;
  justify-content: space-between;
  font-family: 'Shrikhand';
  font-size: 20px;
  font-weight: normal; 
}

.cartes__titre__coeur{
  position: relative;
  display: flex;
  align-items: center;
  align-content: center;
  margin-right: 40px;
  color: black;  
}

.cartes__titre__coeur .fas{
  font-size: 1px;
  position: absolute;
  z-index: 2;
  color: white; 
  transform: scale(1);
  background: -webkit-linear-gradient( 45deg,#FF79DA 5%,#9356DC 90%);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cartes__titre__coeur .far{
  font-size: 30px;
  position: absolute; 
}

.cartes__titre__coeur:hover .fas{
  font-size: 30px;
  animation: fadeinc 3s;
}

.cartes__titre__coeur:hover .far{
  opacity: 0;
}

.cartes__liste{
  font-family: 'Roboto';
  padding: 0px;
}

.carte__type{
  padding: 0px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.carte__type h2{
  width: 100%;
  font:status-bar;
  font-size: 18px;
  margin-left: 20px;
  border-bottom-width: 10px;
}

/* Soulignement titre  */
.carte__type h2::after {
  content: "";
  display: block;
  width: 45px;
  height: 3px;
  background: #99E2D0;
}

.carte__type__contenu{
  width: 100%;
  height: 70px;
  margin: 5px 10px 10px 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: white;
  border-radius: 15px;
  overflow: hidden; 
}

.carte__type__menu{
  width: 100%;
  display: flex;
  justify-content: space-between; 
}

.carte__type__plats{
  width: auto;
  height: 70px;
  display: flex;
  flex-direction: column;
  margin-left: 15px; 
  white-space: nowrap; 
  text-overflow: ellipsis;
}

.carte__type__plats h3{
  font-weight: bold;
  margin: 8px 0px 3px 0px;
  padding: 0px; 
  white-space: nowrap; 
  text-overflow: ellipsis;
}

.carte__type__plats h4{
  font-weight: normal;
  margin: 4px 0px 0px 0px;
  padding: 0px;
  white-space: nowrap; 
  text-overflow: ellipsis;
}

.carte__type__prix{
  width: auto;
  display: flex; 
  align-items: flex-end;
  justify-content: flex-end;
  align-self: flex-end;
  font-weight: bold;
  margin: 0px 10px 13px 0px;
}

/* Chois du plat */
.carte__type__validation{
  height:70px;
  margin-right: -70px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #99E2D0;
}

.cercle{
  width: 25px; 
  height: 25px;
  border-radius: 100px;
  background: #FFF;
  color: #99E2D0;
  display: flex;
  align-items: center;
  align-self: center;
    align-content: center;
}

.cercle .fas{
  margin-left: 5px;
}

 /* Bouton de commande */
#cartes .bouton__commande{
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

#cartes .button {  
  width: 170px;
  padding: 17px 17px;
  display:block;
  font-family: 'Roboto';
  text-align: center;
  text-decoration: none;
  background-color: #CC66CC;
  border: none;
  color: white;
  border-radius: 30px;
  font-size: 17px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
}

#cartes .button:hover {  
 cursor: pointer; 
 background: linear-gradient(#ff79DA,#9356DC);
 transform: scale(1.15);
}

/* Media queries */
@media (max-width:320px){
  .carte__type__contenu{
    width: 100%;
    height: 70px;
    margin-left: 5px;
    margin-right: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: small;
  }
  .cartes__titre__coeur
  { 
    margin-right: 30px;
  }
  .carte__type__plats h3,h4{
    padding-top: 10px;
  }
}
@media (max-width:375px){
  .cartes__titre {
  font-size: 16px;}
}

@media (min-width:737px){
  .carte__type__contenu{
    width: 100%;
    height: 70px;
    margin: 10px 15px 0px 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .cartes__titre__coeur
  { 
    margin-right: 50px;
  }
}

@media (min-width:900px){
  .carte__type__contenu{
    width: 100%;
  }
  .cartes__titre__coeur
  { 
    margin-right: 80px;
  }
}

@media (min-width:1024px){
  .carte__type__contenu{
    width :31%;
  }
}
