
/*Loader spinner */

#loader_container{
    width: 100%;
    height: 100%;
    z-index: 10;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    top:0;
    animation: load 3s ease-in-out normal forwards;
    opacity: 1;
    background-color: #fafafa; 
}

@keyframes load{
    0% {
        opacity: 1;
    }
    100% {
        visibility: hidden;
        opacity: 0;
    }
}

.loader {
    margin: auto;
    border: 15px solid #0000;
    border-top: 15px solid #FF79DA; 
    border-bottom: 15px solid #9356DC;
    border-radius: 50%;
    border-style: double;
    width: 150px;
    height: 150px;
    animation: spin1 3s ease-in-out normal forwards;
  }

@keyframes spin1 {
    0% { 
        transform: rotate(0deg);
        opacity: 1; 
    }
    100% { transform: rotate(360deg); 
        visibility: hidden;
        opacity: 0;
    }
}

.spinner {
    margin:auto;
    border: 15px solid #99E2D0; 
    border-top: 15px solid #FF79DA;
    border-bottom: 15px solid #9356DC;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin2 3s ease-in-out normal forwards;  
}

@keyframes spin2 {
    0% { 
        transform: rotate(0deg);
    }
    100% { 
        transform: rotate(-360deg); 
    }
}

/* Animation bouton explore du menu principal */
.reservation__explore {
    transform: scale(1);
    transition: transform 400ms;
    &:hover {
        transform: scale(1.15);
    }
}

/* Animation coeur menu principal et menu restaurant */
@keyframes fadeinc {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

/*Animation menu restaurant -selection d'un plat */
.carte__type__contenu:hover{   
    cursor: pointer;
        .carte__type__menu {    
        .carte__type__plats{ 
            h3 ,h4 {   
                width: 210px;    
                overflow: hidden;
                white-space: nowrap; 
                text-overflow: ellipsis; 
            }          
        }
        .carte__type__prix{  
           white-space: nowrap;
            text-overflow: ellipsis;  
            width: 5px;
        } 
    }
    .carte__type__validation{  
        margin-right: 0px;
        width: 70px;
        transition: margin-right 0.5s; 
        .cercle{  
            .fas{  
                animation-name:spin;
                animation-duration: 500ms;
                animation-timing-function: linear;  
            }
        }
    }
}

/*Rotation cercle de validation*/
@keyframes spin { 
    from { 
        transform: rotate(0deg);  
    }
    to { 
        transform: rotate(360deg); 
    }
}

/*Animation menu restaurant -Apparition progressive */
@keyframes fadein {
    0%{ 
        opacity:0;
        transform : translateY(5px);
    }
    100%{ 
        opacity:1;
        transform : translateY(0px);
    }
} 
     
@for $i from 0 through 12 {
    .delay-#{$i}{
        animation-duration: 250ms;
        animation-timing-function: linear;
        animation-delay: #{$i* 0.25 + 2.5}s; 
        animation-direction: normal;
        animation-name: fadein;
        animation-fill-mode: backwards;
    }
} 
            
/* footer */
footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #464444; 
    padding-bottom: 30px;  
}

.footer__logo{
    font-family:'Shrikhand';
    font-style: italic;
    color :white;
    font-weight: normal;
    margin: 20px 0 20px 20px;
}

footer .Box{
    display: flex; 
    flex-direction: column;
    line-height: 150%;
}

footer h4 {
    padding: 0;
    color :white;
    font-weight: normal;
    margin: 0 0 0 20px; 
}
footer a {
    text-decoration-line: noe;
}

footer .fa-utensils, .fa-hands-helping{
    margin-right: 10px; 
}

footer .Box :hover {
    cursor: pointer;
    text-decoration-line: underline;
}